#Exercise 2: Create markdown cell with title of the notebook
# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystems are summarized.

Some of the popular languages that Data Scientists use are:

 1. Python
 2. SQL
 3. R

Some of the commonly used libraries used by Data Scientists include:

 1. Pandas
 2. Numpy
 3. Keras
 4. caret
 5. ggplot
 6. ggtitle
 7. PyTorch

Data Science Tools|
|:---------------:|
|Jupyter Notebook|
|RStudio|
|Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to multiply and then add integers
print((3*4)+5)
# OR
(3*4)+5

17

17

In [8]:
#This will convert 200 minutes to hours by diving by 60
Totalmins = 200
minsPerHour = 60
hours = Totalmins/minsPerHour
print(str(hours)+ " hours")

3.3333333333333335 hours

__Objectives:__

 - Python
 - R
 - SQL
 - Java
 - Julia
## Author
   SN